.cardContainer{
    display: grid;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px ;
    width: 45%;
    height: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
}
.cardTitle{
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardDescription {
    font-size: 15px;
    font-family: 'Roboto';
    padding-left: 1.5rem;
}